/* header {
  display: grid;
}

.header {
  position: absolute;
  display: block;
}

p {
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.connexion-button {
  position: absolute;
  cursor: pointer;
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  display: flex;
  margin: auto;
  border-radius: 1px;
}

nav {
  display: flex;
  padding: 20px;
} */

body {
}

/* Style de la barre de navigation */

nav {
  display: flex;
  background-color: white;

  color: rgb(0, 0, 0);
  display: flex;

  padding: 20px; /*utiliser le padding pour des page responsive sinon utliser le height*/
  position: top;
  inset: 0; /*équivalent de top:0;right:0;bottom:0;left:0;*/
  /* display: grid;
  align-content: center; /*aligne = vertical, justify = horizontal*/
  justify-content: center; */
  gap: 5px; /* l'espace entre les elements*/
  text-align: center; /* centrer les mots ou les éléments sur la meme ligne*/
  gap: 30px;
}

nav img {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

.search_button {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search_button input {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.search_button img {
  margin-left: 5px;
  cursor: pointer;
}

.panier {
  display: flex;
  font-family: 'Zen Dots', sans-serif;
  align-items: center;
  background-color: #555;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

a {
  font-family: 'Zen Dots', sans-serif;
}

.panier img {
  margin-right: 5px;
}

.panier p {
  margin: 0;
}

nav img.ligne {
  height: 20px;
}
